<html lang="en">
<!-- partials included -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- partials included -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officia libero harum esse eius dolorum fugit deleniti rem. Commodi, delectus ipsum! Totam provident quia id optio natus veniam, impedit accusamus facilis exercitationem recusandae saepe, ipsa amet maxime expedita ullam vero maiores, animi libero perferendis aperiam. Atque tempora neque odit ipsam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officia libero harum esse eius dolorum fugit deleniti rem. Commodi, delectus ipsum! Totam provident quia id optio natus veniam, impedit accusamus facilis exercitationem recusandae saepe, ipsa amet maxime expedita ullam vero maiores, animi libero perferendis aperiam. Atque tempora neque odit ipsam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officia libero harum esse eius dolorum fugit deleniti rem. Commodi, delectus ipsum! Totam provident quia id optio natus veniam, impedit accusamus facilis exercitationem recusandae saepe, ipsa amet maxime expedita ullam vero maiores, animi libero perferendis aperiam. Atque tempora neque odit ipsam.</p>
    </div>

    <!-- partials included -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>