<html lang="en">
<!-- partials included -->
<%- include('./partials/head.ejs') %>\

<body>
    <!-- partials included -->
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="">
            <label for="">Blog title</label>
            <input type="text" id="title">
            <label for="">Blog snippet</label>
            <input type="text" id="snippet">
            <label for="">Blog body</label>
            <textarea id="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>

    <!-- partials included -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>