<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Rendered | <%= title %></title>
</head>
<body>
    <!-- wriring dynamic data(eg js) using ejs -->
    <% const name = 'mario' %>
    <nav>
        <div class="site-title">
            <!-- passing data in ejs -->
            <p><%= name %></p>
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A net ninja rendered...</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
</body>
</html>